body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    width: 300px;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 18px;
    color: #007c9a;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  ul li {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul li:hover {
    background-color: #e0e0e0;
  }
  
  button {
    background-color: #007c9a;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #005f7a;
  }

  .copy-button,
.delete-button {
  margin-left: 5px;
  padding: 3px 5px;
  cursor: pointer;
}

.copy-button {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
}
  